/* App.css */

body {
  background-color: #111112; /* Définir l'arrière-plan global */
  color: white; /* Couleur de texte par défaut pour mieux contraster avec le fond foncé */
  margin: 0;
  padding: 0;
}

/* App.css */
.App {
  font-family: ui-serif;
  padding: 20px;
  text-align: center;
  position: relative; /* Position relative pour bien afficher le bouton burger */
  background-color: #030202;
}

/* Styles de la barre de recherche */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Pousse la barre de recherche vers le coin droit */
  margin: 20px auto;
  background-color: white; /* Arrière-plan de la barre de recherche en blanc */
  width: 100%; /* Prend toute la largeur disponible */
}

/* Menu Toggle Button */
.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

h1 {
  color: #250eed;
}

h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #0bd96b;
}

.logo-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  margin-top: 2vh; /* 2% de la hauteur de l'écran */
}

.logo {
  width: 150px; /* Ajustez cette valeur pour contrôler la taille */
  height: auto;
}

/* Styles de la barre de recherche */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

#searchInput {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour le menu latéral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 70%;
  background-color: #0a3252;
  color: white;
  padding: 0px;
  display: flex;
  transform: translateX(-100%); /* Le menu est caché au départ */
  transition: transform 0.3s ease; /* Animation pour faire glisser le menu */
}
.sidebar.open {
  transform: translateX(0); /* Le menu glisse dans la vue quand l'état est ouvert */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #555;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  background-color: #040929;
  transition: margin-left 0.3s ease; /* Ajout d'une transition pour le contenu */
  margin-left: 0; /* Position normale quand le menu est fermé */
}

.album-list.shift { /* Quand le menu est ouvert, déplacer les albums */
  margin-left: 50px; /* Espace pour le menu latéral */
}

.album-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.album-card:hover {
  transform: translateY(-10px);
}

.album-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listen-button {
  background-color: Black; /* Bleu */
  color: white;
}

.listen-button:hover {
  background-color: #0056b3;
}

.buy-button {
  background-color: #084370; /* Vert */
  color: white;
}

.buy-button:hover {
  background-color: #218838;
}

.song-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.song-column {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #333;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #030302; /* Arrière-plan blanc pour le footer */
  padding: 20px;
  text-align: center;
  color: #040929;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

.footer-section a {
  color: #250eed;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Copyright section */
.right-copy {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  color: #040929;
  font-size: 0.9rem;
}

.right-copy p {
  margin: 0;
  color: black;
}

/* Styles pour les boutons de Connexion et Inscription */
.auth-button {
  padding: 10px 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px; /* Espacement entre les boutons */
  justify-content: flex-end; /* Place les boutons à droite */
}

.auth-button-login {
  background-color: #1a630a; /* Couleur de fond pour le bouton Connexion */
  color: white;
}

.auth-button-login:hover {
  background-color: #555; /* Changer la couleur de fond au survol */
  transform: scale(1.05); /* Effet de zoom au survol */
}

.auth-button-signup {
  background-color: #084370; /* Couleur de fond pour le bouton Inscription */
  color: white;
}

.auth-button-signup:hover {
  background-color: #0bd96b; /* Changer la couleur de fond au survol */
  transform: scale(1.05); /* Effet de zoom au survol */
}

.auth-button:focus {
  outline: none; /* Retirer la bordure au focus */
  box-shadow: 0 0 5px rgba(37, 14, 237, 0.8); /* Ombre portée pour un focus visible */
}
